/* .navbar-brand {
  font-weight: bold;
} */
body {
  padding-top: 75px;
  font-family: 'Open Sans', 'Sawarabi Gothic', sans-serif;
}

#nav_opacity {
  background: #FFF;
  opacity: 50%;
  filter: (opacity=50);
}

.container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr {
  width: 95%
}

#main {
  text-align: center;
}

.row-space {
  margin-bottom: 70px;
}

.row-last {
  margin-bottom: 300px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 24px;
}

#back-to-top a {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #fff;
  width: 40px;
  height: 40px;
  z-index: 2;
  display: none;
}

.back-to-top:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: #000000;
}

.back-to-top:after {
  content: "↑";
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.misskey-embed {
  border: 1px solid lightgrey;
  width: 480px;
  height: 120px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
}

.col-md {
  padding-bottom: 3vh;
}

.col-md a img {
  margin: auto;
  position: relative;
  border-radius: 10px;
}

/* .col a #active {

  position: absolute;
  opacity: 0;
  transition: .3s;
}

#photo img{
  top: 0;
  left: 0;
  position: absolute;
}
.col a:hover #active {
  opacity: 1;
} */

/*----*/
