/* .navbar-brand {
  font-weight: bold;
} */
body{
  padding-top: 70px;
}

#nav_opacity {
  background: #FFF;
  opacity: 50%;
  filter: (opacity=50);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr {
  width: 90%
}

#main {
  text-align: center;
}

.download .left {
  float: left;
  width: 50%;
}

.download .right {
  float: right;
  width: 50%;
}

.row-space{
  margin-bottom: 70px;
}

.row-last{
  margin-bottom: 300px;
}
